@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Idroid';
    src: url(../idroid.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte_padrao: Arial, Helvetica, sans-serif;
    --fonte_destaque: 'Bebas Neue', sans-serif;
    --fonte_android: 'Idroid';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte_padrao)
}


header {
    background: linear-gradient(to bottom, var(--cor3), var(--cor5));
    font-family: var(--fonte_destaque);
    color: white;
    min-width: 120px;
    padding-top: 2.1em;
    text-align: center;
    box-shadow: 3px 2px 1px black;
}

header > h1 {
    font-family: var(--fonte_destaque);
    color: white;
    font-size: 3em;
    min-width: 150px;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.678);
}

header > p {
    color: white;
    font-size: 1.2em;
    font-family: var(--fonte_padrao);
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 500px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.678);
}

nav {
    text-align: left;
    padding: 4px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.384);
    background-color: var(--cor5);
}

nav > a {
    text-decoration: none;
    font-weight: bolder;
    margin-right: 17px;
    padding: 4px;
    color: rgb(207, 207, 207);
    border-radius: 5px;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    transition-duration: 0.5S;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    padding: 1.5em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

main h1 {
    font-family: var(--fonte_android);
    color: var(--cor5);
}

.diferente {
    background: linear-gradient(to right, #67bb8bd7, white);
    color: var(--cor4);
    font-size: 1.3em;
    font-family: var(--fonte_android);
    text-indent: 8px;
    font-weight: normal;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    background-color: var(--cor2);
    padding: 1px 3px;
    color: var(--cor5);
    font-weight: bold;
    text-decoration: none;
}

a.externo::after {
    content: '\1F517';
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main p {
    text-indent: 2em;
    text-align: justify;
    margin: 15px 0px;
    line-height: 2em;
}

main img {
    width: 100%;
}

main img.pequeno {
    max-width: 350px;
    display: block;
    margin: auto;
}

#video {
    background-color: var(--cor5);
    margin: 0px -24px 30px -24px;
    padding: 1em;
    padding-bottom: 59%;
    position: relative;
}

#video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.486);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -16px -16px 0px -16px;
    font-weight: normal;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\1F5F8\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    font-family: var(--fonte_padrao);
    background-color: var(--cor5);
    color: white;
    text-align: center;
    margin: -8px;
    padding: 4px;
    font-size: 0.8em;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;

}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}